footer {
    text-align: center;
    background-color: #373F51;
    margin-top: 8vh;
    background-color: #A9BCD0;
    width: 100%;
    padding-bottom: 20px;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #617D82;
    display: flex;
    flex-grow: 1;
}

section {
    display: flex
}

.container {
    display: flex;
    justify-content: center
}

nav {
    display: flex;
    background-color: #373F51;
    flex-grow: 1;
}

#biography {
    display: flex;
    background-color: #D8DBE2;
    width: 50vh;
    height: 60vh;
    margin: 10vh;
    font-size: 1em;
    overflow: auto;
}

#contact {
    display: flex;
    background-color: #D8DBE2;
    width: 40vh;
    height: 40vh;
    margin: 10vh;
}

#photo {
    display: flex;
    width: 50vh;
    height: 60vh;
    margin: 10vh;
}

#profile {
    object-fit: cover;
    width: 50vh;
    height: 60vh;
}

#bioBody {
    margin: 3vh;
    text-align: justify;
    margin-top: 15vh;
}

li {
    display: inline;
    list-style-type: none;
    color: white;
}

.nav-link:visited {
    color: white;
}

.nav-link {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    margin-left: 5%
}

li a:hover{
    background-color: #1B1B1E
}

.visiting {
    background-color: #A9BCD0;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none

}

h1 {
    margin-left: 10vh;
    color: white;
}

#social {
    float: right;
    margin-right: 55vh;
}


a:visited {
    color: black;
}

a:hover {
    color: gray;
}

#name {
    float: left;
    margin-left: 55vh;
}

#seed {
    display: flex;
    flex-grow: 1;
    margin-top: 10vh;
    height: 40vh;
    margin-left: 10vh;
    padding-bottom: 5vh;
}

#seed-img {
    display: flex;
    flex-grow: 2;
    margin-top: 10vh;
    margin-left: 20vh;
    margin-right: 10vh;
}

#seedsolo {
    width: 70vh;
    height: 40vh;
    object-fit: cover;
}

#python {
    display: flex;
    flex-grow: 1;
    margin-top: 10vh;
    margin-left: 10vh;
    padding-bottom: 5vh;
}

#python-img {
    display: flex;
    flex-grow: 1;
    margin-top: 10vh;
    margin-left: 30vh;
    margin-right: 10vh;
    padding-bottom: 5vh;
}

#pythonpong {
    width: 40vh;
    height: 40vh;
    object-fit: cover;
}

#php {
    display: flex;
    flex-grow: 1;
    margin-top: 10vh;
    margin-left: 10vh;
    padding-bottom: 5vh;
}

#php-img {
    display: flex;
    flex-grow: 1;
    margin-right: 10vh;
    margin-top: 10vh;
    
}

#pethotel {
    width: 70vh;
    height: 40vh;
    object-fit: cover;
    margin-left: 30vh;
}

#work-footer {
    text-align: center;
    background-color: #373F51;
    margin-top: 8vh;
    background-color: #A9BCD0;
    width: 100%;
    padding-bottom: 18vh;
}

#seeddesc {
    text-align: justify;
}

#pythondesc {
    text-align: justify;
}